<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/table.css" />
    <script defer src="/static/alpine.min.js"></script>
    <title>Delaches Member Management</title>
  </head>
  <body>
    <noscript>This webpage requires javascript to run.</noscript>
    <a
      href="{{ url_for('main.index') }}"
      style="position: absolute; top: 1rem; left: 1rem; border: 1px solid black"
    >Home</a>
    <header><h1>Delaches Active Members</h1></header>
    <form action="/members/add">
      <button>Add New Member</button>
    </form>
    <main x-data="table">
      <div>
        <label for="search">Search:</label>
        <input
          name="search"
          type="text"
          x-model="searchTerm"
          x-effect="search()"
        />
      </div>
      <div class="table-container">
        <table>
          <thead class="ocean-gradient">
            <tr>
              <th>Member ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Birthdate</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="(member, index) in members">
              <tr @click="() => window.location.href =`/members/${member.id}`">
                <td x-text="member.id"></td>
                <td x-text="member.first_name"></td>
                <td x-text="member.last_name"></td>
                <td x-text="member.address"></td>
                <td x-text="member.city"></td>
                <td x-text="member.state"></td>
                <td x-text="member.zip"></td>
                <td x-text="new Date(member.birthdate).toLocaleDateString('en-US')"></td>
                <td x-text="member.phone"></td>
                <td x-text="member.email"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </main>
  </body>
  <script>
    const dollarFmt = new Intl.NumberFormat("en-US", {
      style: "currency",
      currency: "USD",
    });
    function findIn(x, term) {
      return x != null && x.toString().toLowerCase().includes(term);
    }
    document.addEventListener("alpine:init", () => {
      Alpine.data("table", () => ({
        _members: [],
        members: [],
        searchTerm: "",

        async init() {
          await this.getMembers();

          this.refetch = setInterval(
            async () => await this.getMembers(),
            60 * 1000
          );
        },
        destroy() {
          clearInterval(this.refetch);
        },
        async getMembers() {
          let response = await fetch("/members/all");
          this._members = await response.json();
          // console.log(this._members);
        },

        search() {
          const term = this.searchTerm.toLowerCase();

          this.members = this._members.filter((m) => {
            return (
              findIn(m.id, term) ||
              findIn(m.first_name, term) ||
              findIn(m.last_name, term)
            );
          });
        },

      }));
    });
  </script>
</html>
