# python ignore
/venv
__pycache__/

# flask data
/instance
/migrations

# data
*.log
*.sqlite

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
