@import url("colors.css");

body {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: auto;
  padding: 1rem;
}

.ocean-gradient {
  background: linear-gradient(45deg, var(--cyan-500) 0%, var(--blue-500) 100%);
}
