:root {
  --slate-200: #e2e8f0;
  --grey-200: #e5e7eb;
  --grey-400: #9ca3af;
}

table {
  border: 1px solid var(--grey-200);
  border-radius: 1rem;
  border-spacing: 0;
  margin: auto;
  overflow: hidden;
}

th {
  padding-top: 2rem;
}
td {
  border-top: 1px solid var(--grey-400);
}

td,
th {
  padding-left: 1rem;
  padding-right: 1rem;
}

tbody > tr:hover {
  background-color: var(--slate-200);
}

button {
  padding: 0.75em;
  margin: 0.5em;
}
