<table>
    <thead class="ocean-gradient">
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.MemberId }}</td>
            <td>{{ member.FirstName }} {{ member.LastName }}</td>
            <td>{{ member.Address1 if member.Address1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100">pagination and such</td>
        </tr>
    </tfoot>
</table>