@import url("colors.css");

body {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: auto;
  padding: 1rem;
}

table {
  border: 1px solid var(--grey-200);
  border-radius: 1rem;
  border-spacing: 0;
  margin: auto;
  overflow: hidden;
}

thead {
  background: linear-gradient(45deg, var(--cyan-500) 0%, var(--blue-500) 100%);
}

th {
  padding-top: 2rem;
}
td {
  border-top: 1px solid var(--grey-400);
}

td,
th {
  padding-left: 1rem;
  padding-right: 1rem;
}

tbody > tr:hover {
  background-color: var(--slate-200);
}
